

<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          Oliver Hardman
        </div>
      </div>
      <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
        <%= post.caption %>
      </p>
            <div class="well">
      <%= link_to like_post_path(post), class: "like", method: :put do %>
        <button type="button" class="btn btn-primary btn-lg btn-block" aria-label="Left Align">
          <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
          <span class="badge"><%= post.get_likes.size %></span>
        </button>
      <% end %>
      <br>
      <%= link_to dislike_post_path(post), class: "like", method: :put do %>
      <button type="button" class="btn btn-primary btn-lg btn-block" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge"><%= post.get_dislikes.size %></span>
        </button>
      <% end %>
        </div>
    </div>
  <% end %>
</div>
